div.logout{
    position: relative;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 30px;
    border: none;
    width:4%;
    float:right;
   }
   
   button span {
    position: relative;
    color: white;
    font-family:Bangers;
    letter-spacing: 3px;
   }
   
   .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: hsl(30, 86%, 57%);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
    border:none;
   }
   
   .liquid::after,.liquid::before {
    content: '';
    width: 220%;
    height: 220%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: white;

   }
   
   .liquid::before {
    border-radius: 50%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
   }
   
   .liquid::after {
    border-radius: 50%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
   }
   
   .logout:hover .liquid {
    background: blueviolet;
   }
   
   @keyframes animate {
    0% {
     transform: translate(-50%, -75%) rotate(0deg);
    }
   
    100% {
     transform: translate(-50%, -75%) rotate(360deg);
    }
   }