body {
    vertical-align: middle;
    color :black; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table, th {
    margin:auto;
    border: 2px solid;
}

#logo{
    max-width : 220px; 
    max-height:200px;
    margin-top: 40px;
    text-align: center;
}

.memberdiv {
    float:left; 
    width: 43%; 
    margin: 2%
}

.imgdiv{
    width: 20%;
    margin-right: 4%

}

.imgdiv img{
    width: 150px;
    height: 180px;
}

.bocetosipv img{
    width: 600px;
    height: 450px;
}

.formulario{
    margin: auto;
}

.h1_title {
    text-align: left;
}

legend {
    color: white;
    background: #303030;
    border: 1px solid black;
    padding: 2px 6px;
}

p { color: black;
    font-family:'Verdana', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    text-align: justify; 
}

img{
    display:block;
    margin:auto;
}

#text{
    padding-left: 15%; 
    width: 70%;
}

h1{
    text-align: center; 
    font-size: 35px;
}

main{
    text-align: justify;
}

header#derecha{
    width: 100%;
	text-align: right;
}

header#derecha a, header#derecha a:visited {
	color: blue;
	font-weight: bold;
	text-decoration: none;
}

header a:hover, header#derecha a:hover {
	color: grey;
	font-weight: bold;
	text-decoration: underline;
} 

header#derecha div.saludo{
    font-weight: bold;
	text-decoration: none;
}

footer#piepagina{
    clear: both;
    padding: 10px;
    background-color: #c5792c;
    color:black;
    font-weight: bold;
    text-align: center;
    position:sticky;
    bottom:0%;
    left: 0;
    margin-top: 20%;
    width: 100%;
    height:20vh;
    box-sizing: border-box;
}

body#rankeo{
    background-color: #fff;
    font-family: Verdana, Tahoma, sans-serif;
}

div.container{
    margin: auto;
    background-color: lightgray;
    width: 800px;
    padding: 30px;
  }
