body {
    margin-top: 2%;
	margin-right: 3%;
	margin-bottom: 2%;
	margin-left: 3%;   

    vertical-align: middle;
    color :black; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /*background-image: url("../img/backgrounds/portada_l1.jpg");*/
    /* background-color:rgb(156, 158, 156,50%); */
    /* background-size: cover;
    background-repeat:no-repeat;
    background-position: center center; */
    background-attachment: scroll; 
    
}

table, th {
    margin:auto;
    border: 2px solid;
}

#logo{
    max-width : 220px; 
    max-height: 200px;
    margin-top: 40px;
    text-align: center;
}

.memberdiv {
    float:left; 
    width: 43%; 
    margin: 2%
}

.imgdiv{
    width: 20%;
    margin-right: 4%

}

.imgdiv img{
    width: 150px;
    height: 180px;
}

.bocetosipv img{
    width: 600px;
    height: 450px;
}

.formulario{
    margin: auto;
}

.h1_title {
    text-align: left;
}

legend {
    color: #fff;
    background: #303030;
    border: 1px solid black;
    padding: 2px 6px;
}

p { 
    color:hsl(0, 1%, 37%);
    font-family:'Verdana', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    text-align: justify; 
}

img{
    display:block;
    margin:auto;
}

#text{
    padding-left: 15%; 
    width: 70%;
}

h1{
    text-align: center; 
    font-size: 35px;
}

main{
    text-align: justify;
}

a , a:visited {
    text-decoration: none;
}

input:required~label::after  {
    content: "* ";
    color: red;
    font-weight: bold;
}