.msg_centrado {
    margin: 10px auto;
    display: block;
    height: 100px;
    width: 700px;
}

img {
    margin-left: 30px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

img#ev{
    margin:1%;
    border-radius: 10px;
}

.img_buscar {
    height: 25px;
    width: 25px;
    border-radius: 10px;
}

.evi {
    font-family: Bangers;
    outline: 0;
    background: whitesmoke;
    width: 19%;
    border: 0;
    margin: 0 0 0;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
}

.search{
    position:relative;
    padding: 10px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 30px;
    border: none;
    font-family: Bangers;
    background: rgb(107, 120, 160);
}

.search:hover{
    background: black;
    color:white;
}

.text_buscar {
    margin-left: 4%;
    margin-top: -25px;
}

.button_buscar {
    margin-left: 23%;
    margin-top: -28px;
}

.footer_zone {
    height: 100px;
    color: blueviolet;
    background: hsl(30, 86%, 57%);
    font-size: 25px;
    text-align: center;
    max-width: 100%;
    left: 0;
    position: relative;
    bottom: 0;
    margin-top: -3%;
    padding: 2%;
}

.slider {
    width: 60%;
    height: 50%;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 5% auto;
    overflow: hidden;
    box-sizing: border-box;
}

.slider img {
    max-width: 95%;
    height: 500px;
}

.slideshow {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 2500ms;
    animation-name: autoplay;
    animation-duration: 25s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pag-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #CCC;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 800ms;
}

.pag-item:hover {
    transform: scale(2);
}

.pag-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(100);
    opacity: 0;
    transition: all 300ms;
    margin:auto;
}

.pag-item:hover img {
    opacity: 1;
}

input[id="0"]:checked~.slideshow {
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="0"]:checked~.pagination .pag-item[for="0"] {
    background: #FFF;
}

input[id="1"]:checked~.slideshow {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="1"]:checked~.pagination .pag-item[for="1"] {
    background: #FFF;
}

input[id="2"]:checked~.slideshow {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="2"]:checked~.pagination .pag-item[for="2"] {
    background: #FFF;
}

input[id="3"]:checked~.slideshow {
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="3"]:checked~.pagination .pag-item[for="3"] {
    background: #FFF;
}

input[id="4"]:checked~.slideshow {
    animation: none;
    transform: translate3d(calc(-100% * 4), 0, 0);
}

input[id="4"]:checked~.pagination .pag-item[for="4"] {
    background: #FFF;
}

@keyframes autoplay {
    20% {
        transform: translate3d(0, 0, 0);
    }
    40% {
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    60% {
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
    80% {
        transform: translate3d(calc(-100% * 3), 0, 0);
    }
    100% {
        transform: translate3d(calc(-100% * 4), 0, 0);
    }
}

/* Procesar Evento */

* {
    margin: 0px;
    padding: 0px;
}

.nombreEvento{
    display: flex;
    justify-content: center;
}

.nombreEvento p {
    font-size: 45px;
    font-weight: bold;
    font-family: Bangers,Verdana;
    display: flex;
}

body {
    background-color: white;
}

.temporizador {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.temporizador .bloque {
    margin: 0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temporizador .bloque div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
    box-shadow: 0px 0px 6px 2px #727272 inset;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    width: 100px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.temporizador .bloque p {
    font-size: 15px;
    font-weight: bold;
    color: rgb(36, 36, 36);
}

.informacion {
    margin-left: 440px;
    margin-top: 20px;
    height: 20px;
    width: 550px;
}

.informacion img {
    max-width: 5%;
    max-height: 100%;
    margin: 0;
}

.informacion p {
    margin-top: -25px;
    margin-left: 30px;
}

.fondoTransparente{
    margin-top: -412px;
    background-size: cover;
}

.fondoTransparente img {
    opacity:0.2;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    min-height: 100%;
    min-width: 100%;
}

/*.fondoTransparente img:hover {
    opacity:1.0;
    filter:alpha(opacity=100); 
}*/

img#ev{
    border-radius: 10px;
}

.descripcion {
    margin: 10px auto;
    margin-top: 50px;
    width: 800px;
}

.descripcion p {
    font-size: 17px;
    font-weight: bold;
}

.premio {
    margin: 10px auto;
    margin-top: 20px;
    width: 140px;
}

.premio p {
    font-size: 17px;
    font-weight: bold;
}


.inscripcion {
    margin: 10px auto;
    margin-top: 30px;
    height: 70px;
    width: 200px;
}

.inscripcion img {
    max-width: 100%;
    max-height: 100%;
}

.inscripcion_button{
    background-color: orange;
    color: purple;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    transition: all ease;
    cursor: pointer;
    display: block;
    text-decoration: none;
    overflow:hidden;
    border-radius: 30px;
    font-family: Bangers;
}

.inscripcion_button:hover{
    color: orange;
    background:purple;
  }