body {

    vertical-align: middle;
    color :black; 
    font-family: "Bangers","Verdana";

    /* Gracias a esto la barra ocupa toda la pantalla, para poner margenes en lo demas lo indicamos en 'main' */
    margin:0;
    padding:0;

     /* BACKGROUND GENERAL */

     background-image: url("../img/backgrounds/portada_l1.jpg");

     position:absolute;
     background-attachment: fixed;
     background-size: cover;
     z-index: -1;
     height: 100vh;
}
@font-face {
    font-family: "Bangers";
    src: url(fonts/Bangers-Regular.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Carter One";
    src: url(fonts/CarterOne-Regular.ttf);
}

header{
    width: 100vw;
}
main{
    margin:1%;
    padding:0;
    text-align: justify;
}
p { 
    color:black;
    font-family:"Carter One";
    text-align: justify; 
}
a , a:visited {
    text-decoration: none;
}

/* Borra la barra lateral en Firefox */
html {
    scrollbar-width: none;
}
/* Borra la barra lateral en Chrome */
body::-webkit-scrollbar {
    display: none;
}


h1{
    text-align: center; 
    font-size: 35px;
}

p#cl{
    text-align:center;
}

ul#entregas{
    justify-content: center;
    display:grid;
}

.productos {

    height: 10vw;
}

/* DIV PRINCIPAL POPUP */

.pop_up{

    width: 100%;
    height: auto;
    overflow: visible;
    padding-top: 20px;
    opacity: 1;
}

/* PR1.CSS */

.memberdiv {
    background-color: rgb(219, 208, 171);
    padding:1%;
    float:left; 
    width: 43%; 
    margin: 2%;
    border-radius: 30px;
}

.memberlinks{
    background-color: rgb(130, 160, 183);
    padding:2%;
    border-radius: 30px;

}

.imgdiv{
    width: 20%;
    margin-right: 4%

}

.imgdiv img{
    width: 150px;
    height: 180px;
}

.bocetosipv img{
    width: 600px;
    height: 450px;
    display: block;
    margin:auto;
    background-color: black;
    padding:1%;
}

.back,#entregas{
    background-color: rgb(167, 216, 216);
    padding:1%;
    border-radius: 30px;
}


/* Mensajes CSS */

.mensajes {
	position: fixed;
	width: 100%;
  }
  
.mensaje {
	border: 2px solid black;
	border-radius: 5px;
	width: 30%;
	margin: 0.2em auto;
	background-color: #b0f5f1;
}

.mensajes input {
	display: none;
}

.mensaje {
	font-size: 2em;
	line-height: 0.7em;
	text-align: right;
	padding: 0 0.1em;
}

.mensaje, .contenido {
	padding: 0.2em 1em;
	text-align: center;
}

.mensajes input:checked + .mensaje {
	display: none;
}
