header{
    width: 100vw;
}

#menu {
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: hsl(30, 86%, 57%);
}

#menu ul li {

    list-style:none; 
    display: inline-block; 
    text-align: center;
    margin:auto;
    padding: 10px;
}

.saludo {
    width: 99%;
	text-align: right;
}

.saludo a, .saludo a:visited {
	color: rgb(0, 0, 255);
	font-weight: bold;
}

.saludo a:hover, div#derecha a:hover {
	color: grey;
	font-weight: bold;
	text-decoration: underline;
} 

