#menu {
    text-align: center;
    font-size: 30px;
    margin-top: 4%;
    margin-bottom: 5%;
    background-color: hsl(30, 86%, 57%);
}

#menu ul li {

    list-style:none; 
    display: inline-block; 
    text-align: center;
    margin:auto;
    padding: 10px;
}

.saludo {
    margin-top:1%;
    width: 99%;
	text-align: right;
}

.saludo a, .saludo a:visited, nav#menu a,nav#anterior a {
	color: blueviolet;
	font-weight: bold;
}

.saludo a:hover, div#derecha a:hover, nav#menu a:hover, nav#anterior a:hover {
	color: rgb(9, 42, 105);
	font-weight: bold;
	text-decoration: none;
}

.img_cesta{
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    margin: 5px;
    padding: 1%;
    background-color: hsl(30, 86%, 57%);
    border-radius: 20px;
}

.img_cesta:hover{
    transform:scale(1.1);
    background-color: blueviolet;
}

/* TO DO IN HEADER */
/* 

    - Incluir el mensaje de bienvenida en la parte derecha del menu (Para todas las paginas excepto la Portada, hacer codigo en header.php)

*/