.columna {
    float: left;
    width: 20%;
    height: 200px;
    margin-top: 40px;
}

.fila::after {
    content: "";
    clear: both;
    display: table;
}

img {
    /* Para que sea responsiva */
    width: 90%;
    height: 90%;
}

.juego{
    border-radius: 60px;
}

.gif_centrado {
    margin:10px auto;
    display:block;
    height: 180px;
    width: 600px;
    border-radius: 18px;
}

.boton_exit {
    height: 70px;
    width: 140px;
    margin-top: -25px;
    margin-left: 12px;
}

.boton_play_now {
    height: 70px;
    width: 140px;
    margin-left: 160px;
    margin-top: -70px;
}

.boton_ranking {
    height: 90px;
    width: 90px;
    margin-left: 300px;
    margin-top: -80px;
}

.img_juego {
    height: 400px;
    width: 400px;
}

.informacion {
    margin-left: 400px;
    margin-top: -470px;
}
