
#nav_home {
    text-align: center;
    font-size: 30px;
    margin:auto;
    margin-top: 2%;
    margin-bottom: 10%;
    background-color: #2f3237;
    color: white;
}

#nav_home ul li {
    list-style:none; 
    display: inline-block;
    text-align: center;
    margin:auto;
    padding: 5x;
}

a:visited {
    color: white;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: inherit;
}

