/* POP UP CSS */

.pop_up_window{

    width: 100%;
    max-width: 800px;
    height: 500px;
    position: absolute;
    display: flex;
    top:50%;
    left:50%;
    align-content: center;
    text-align: center;
    z-index:1;

    background: orange;
    padding: 45px;
    box-shadow: 0 0 10px 0 rgb(226, 183, 43), 0 2px 2px 0 rgb(226, 183, 43);
    border-radius: 30px;
    visibility: hidden;
    transform: translate(-50%, -40%);
    transition: 600ms;
}

.pop_up_container {
    width: 100%;
}

.pop_up_main {
    width: 100%;
    font-size: 20px;
}

.pop_up_closebutton {
    width: 100%;
}

.popup_button_link{

    background: white;
    color: black;
    padding: 25px;
    border-radius: 30px;
    font-size: 25px;
    font-family: Bangers;
    width: 100%;
}